<html>
  <head>
    <title>Modifica servizio - Inventario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {% include 'nav.html.j2' %}
    <div class="container">
      <h1>
         Modifica riassunto
      </h1>
      <form class="form-outline" action="/riassunti_show/{{riassunto.rid}}" method="post">
        <input class="form-control" type="text" placeholder="Nome" name="rnome" value="{{riassunto.rnome}}">
        <p> </p>
        <input class="form-control" type="text" placeholder="Materia" name="rmateria" value="{{riassunto.rmateria}}">
        <p> </p>
        <input class="form-control" type="text" placeholder="Descrizione" name="rdescrizione" value="{{riassunto.rdescrizione}}">
        <p> </p>
        <input class="form-control" type="text" placeholder="Link a Dropbox" name="rlink" value="{{riassunto.rlink}}">
        <p> </p>
        <input class="btn btn-primary" type="submit">
      </form>
   </div>
  </body>
</html>
