<html>
  <head>
    <title>Elenco utenti - Gestione</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    {% include 'nav.html.j2' %}
    <div class="container">
      <h1>
         Utenti esistenti
      </h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome utente</th>
            <th>Password</th>
            <th>Modifica</th>
            <th>Elimina</th>
          </tr>
        </thead>
        {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.passwd }}</td>
            <td><a href="/user_show/{{ user.uid }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="/user_del/{{ user.uid }}"><span class="glyphicon glyphicon-remove"></span></a></td>
          </tr>
        {% endfor %}
      </table>
      <a class="btn btn-success" href="/user_add">Aggiungi</a>
    </div>
  </body>
</html>
